@import "styles/color.module.scss";
@import "styles/layout.module.scss";

.todo-add-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $main;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  @include Center;

  img {
    width: 24px;
    height: 24px;
    transition: 0.3s;
  }

  &:hover img {
    transform: rotate(-90deg);
  }
}
