@import "styles/color.module.scss";
@import "styles/layout.module.scss";

.main {
  @include Center;
}

.todo {
  position: relative;
  width: 400px;
  border-radius: 6px;
  background-color: $white;
}
