* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

html,
body {
  min-height: 100vh;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}
